
.brown_bar{
	height: 24px;
	background-color: #754b23;
}
.nav > li{
	margin-right: 35px;
}
.strips2{
	height: 400px;
	padding: 0;
}
.footer {
	height: 80px;
	
}
.footer div{
	background-color: #06b4af;	
	height: 100%;
}